html {
	box-sizing: border-box;
	font-size: 100%;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	color: white;
	font-family: 'Roboto Slab', serif;
	margin: 0;
}

@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/roboto-slab.woff2') format('woff2'),
		url('../fonts/roboto-slab.woff') format('woff');
	font-display: block;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('../fonts/roboto-condensed.woff2') format('woff2'),
		url('../fonts/roboto-condensed.woff') format('woff');
	font-display: block;
}
